<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Statement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
            	<div class="container my-5">
            		<h2>Statement Report</h2>
        		</div>
                    <div class="col-md-10">

                            <table class="table table-striped table-responsive-md">
                                <thead>
                                	<tr>
                                		<th><a th:href="@{/index}">Home</a></th>
                                		<th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th>
                                		<th><a th:href="@{/logout}">Sign Out</a></th> 
                                
                                	</tr>
                                	<tr> 
                                	<th>Account Number:</th>
                                	<th th:text="${accountNumber}"></th>
                                	<th>Account Type:</th>
                                	<th th:text="${accountType}"></th>
                                	</tr>
                                    <tr>
                                        <th th:text="${message}"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
</body>

</html>